#coding: utf-8

# ==============================================================================
#  Flask
# ==============================================================================
SECRET_KEY = '********SECRET********'
DEBUG = True



# ==============================================================================
#  API
# ==============================================================================
CONFIG = {
    'version' : '1.1',
    'domain'  : 'localhost',
    'apikey'  : 'public',
    'host'    : 'next.im',      # IM server host
    'port'    : 8000,           # IM server port
    'title'   : '在线支持',    
    'theme'   : 'redmond',
    'local'   : 'zh-CN',
}


# ==============================================================================
#  Database
# ==============================================================================
MYSQL_HOST = 'localhost'
MYSQL_USER = 'root'
MYSQL_PASS = 'public'
MYSQL_DB = 'shopim2'
